<form name="deleteForm" (ngSubmit)="confirmDelete(cliente.id)">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar cliente <span class="font-weight-bold">{{cliente.nombre}}</span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-producto-heading">Estas seguro que quieres eliminar este Cliente?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>
        <button id="jhi-confirm-delete-cliente" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Eliminar</span>
        </button>
    </div>
</form>
