<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 *ngIf="cliente.id" id="jhi-producto-heading">Editar cliente</h2>
            <h2 *ngIf="!cliente.id" id="jhi-producto-heading">Crear nuevo cliente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cliente.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cliente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="cliente.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sexo">Sexo</label>
                    <select class="form-control" name="sexo" [(ngModel)]="cliente.sexo" id="field_sexo" >
                        <option value="MUJER">MUJER</option>
                        <option value="HOMBRE">HOMBRE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_documento">Documento</label>
                    <input type="text" class="form-control" name="documento" id="field_documento"
                        [(ngModel)]="cliente.documento" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="cliente.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                        [(ngModel)]="cliente.telefono" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fecNacimiento">Fecha de Nacimiento</label>
                    <div class="input-group">
                        <input id="field_fecNacimiento" type="text" class="form-control" name="fecNacimiento" ngbDatepicker  #fecNacimientoDp="ngbDatepicker" [(ngModel)]="cliente.fecNacimiento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fecNacimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
