<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            
            <h2 *ngIf="producto.id" id="jhi-producto-heading">Editar producto</h2>
            <h2 *ngIf="!producto.id" id="jhi-producto-heading">Crear nuevo producto</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!producto.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="producto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="producto.descripcion" required/>
                    <div [hidden]="!(editForm.controls.descripcion?.dirty && editForm.controls.descripcion?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descripcion?.errors?.required">
                        Este campo es requerido
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                        [(ngModel)]="producto.precio" required/>
                    <div [hidden]="!(editForm.controls.precio?.dirty && editForm.controls.precio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.precio?.errors?.required">
                        Este campo es requerido
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.precio?.errors?.number">
                            Debe ser un monto válido
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" [(ngModel)]="producto.tipo" id="field_tipo" >
                        <option value="POR_KILO">POR_KILO</option>
                        <option value="POR_CANTIDAD">POR_CANTIDAD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activo">Activo</label>
                    <input type="checkbox" class="form-control" name="activo" id="field_activo"
                        [(ngModel)]="producto.activo" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>
