<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producto">
            <h2><span>Producto</span> {{producto.descripcion}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="The firstname attribute.">Descripción</span></dt>
                <dd>
                    <span>{{producto.descripcion}}</span>
                </dd>
                <dt><span>Precio</span></dt>
                <dd>
                    <span>{{producto.precio}}</span>
                </dd>
                <dt><span>Tipo</span></dt>
                <dd>
                    <span>{{producto.tipo}}</span>
                </dd>
                <dt><span>Activo</span></dt>
                <dd>
                    <span>{{producto.activo ? 'SI' : 'NO'}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Volver</span>
            </button>

            <button type="button"
                    [routerLink]="['/producto', producto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
