<div class="container" [ngSwitch]="isAuthenticated()">
    <div class="card-deck" >
       
        <div class="card text-center bg-blue-navy"  *ngSwitchCase="true">
            <div class="card-body">
                <h4 class="card-title text-light">Pedidos</h4>
                <p class="card-text text-light">Administración de pedidos</p>
                <a href="#" class="btn btn-primary bg-blue-core border-0">Vamos</a>
            </div>
        </div>
        <div class="card text-center bg-blue-core"  *ngSwitchCase="true">
            <div class="card-body">
                <h4 class="card-title text-light">Productos</h4>
                <p class="card-text text-light">Administración de productos</p>
                <a routerLink="producto" class="btn btn-primary border-0">Vamos</a>
            </div>
        </div>
        <div class="card text-center bg-blue-core-medium"  *ngSwitchCase="true">
            <div class="card-body">
                <h4 class="card-title text-light">Clientes</h4>
                <p class="card-text text-light">Administración de clientes</p>
                <a routerLink="cliente" class="btn btn-primary border-0">Vamos</a>
            </div>
        </div>
         <div class="card text-center bg-blue-light"  *ngSwitchCase="true">
            <div class="card-body">
                <h4 class="card-title text-light">Estadisticas</h4>
                <p class="card-text text-light">Consultas de operaciones</p>
                <a href="#" class="btn btn-primary bg-blue-core-medium border-0">Vamos</a>
            </div>
        </div>
    
    </div>
    <div class="row alert alert-warning" *ngSwitchCase="false">
                <span id="home-logged-message"> No estas logado, inicia sesión </span>
    </div>
</div>

